# Cloudflare Workers build output
dist
.wrangler

# Dependency directories
node_modules

# Environment variable files
.dev.vars

# Visual Studio Code
.vscode

# Tests coverage
coverage

# Logs
logs
*.log

# OS-specific files
.DS_Store
