# Cloudflare Workers build output
.wrangler

# Dependency directories
node_modules

# Environment variable files
.dev.vars
.env

# Visual Studio Code
.vscode

# Tests coverage
coverage

# OS-specific files
.DS_Store
